.cursor-pointer {
  cursor: move;
}
.bg-gray {
  background-color: #eaeaea79 !important;
}

.text-secondary-100 {
  color: #ffffff !important;
}
.bg-gray-bar {
  background-color: rgb(13 110 253) !important;
    color: #ffffff !important;
    border-radius: 5px 5px 0 0 !important;
}
.bg-secondary-100 {
  background-color: #f7f7f7 !important;
}
.search-box {
  width: 100%;
  max-width: 290px;
  
}
